@import "./font";
*{margin: 0;padding: 0;box-sizing: border-box;outline: none;}
body,html{height: 100vh;line-height: 1.4; font-family:"Montserrat" ,Arial, Helvetica, sans-serif;}
::after,::before{
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    width: calc( 100% - 20px );
    margin-left: auto;
    margin-right: auto;
}
a{text-decoration: none;color: inherit;}
ul,li{list-style: none;}
