@import "./general";
@import "./var";

.main-container{
    display: flex;
}
.main-content{
    background-color: $bg-main-content;
    min-height: 100vh;
    width: calc(100% - 300px);
}
.main-aside{
    width: 300px;
    background-color: $bg-main-aside ;
    border-right: 1px solid $border-color-aside;
    padding: 70px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo{
        padding: 30px 0;
        a{
            color: $color-logo;
            font-size: 35px;
            line-height: 50px;
            font-weight: 900;
            display: inline-block;
            position: relative;
            padding: 0 10px;
            &::before{
                @include pseudo(20px,20px,transparent);
                position: absolute;
                top: 0;
                left: 0;
                border-top: 5px solid $pink;
                border-left: 5px solid $pink;
            }
            &::after{
                @include pseudo(20px,20px,transparent);
                position: absolute;
                bottom: 0;
                right: 0;
                border-bottom: 5px solid $pink;
                border-right: 5px solid $pink;
            }
        }
    }

    // navigation
    nav{
        padding-bottom: 40px;
        ul{
            li{
                a{
                    overflow: hidden;
                    position: relative;
                    font-weight: 700;
                    color: $color-logo;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    [class*='fa-']{
                        margin-right: 10px;
                    }
                    border-bottom: 1px solid $border-color-aside;
                    transition: transform .3s ease-in-out ,border-color .3s ease-in-out;
                    &:hover{
                        transform: translateX(7px);
                        border-color: transparent;
                        &::after{
                            transform: scaleX(.97);
                        }
                    }
                    &::after{
                        @include pseudo(3px,100%,$pink);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                        transition: transform .4s ease-in-out;
                    }
                } 
            }
            & > li:last-child a{border-color: transparent;}
        }
        
        
    }

    .copyright{
        font-size: $size - 2;
    }

    // end aside
}



